body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.airbnb_Title {
  padding-left: 20px;
  color: red;
}

.airbnb_Logo {
  height: 50px;
  width: 150px;
  padding-left: 20px;
}

.airbnb_imageGrid {
  padding-top: 30px;
  height: 350px;
}

.staticBox {
  padding-top: 25px;
  width: 330px;
  text-align: left;
  padding-left: 20px;
}

.card_MainImage {
  height: 280px;
  display: flex;
  padding: 20px;
}